body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #44efbe 0%,#8341ef 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(4, 1, 1);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #ceeb2e;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#itemInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    background-color: #28a745;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

li.checked .item-text {
    text-decoration: line-through;
    color: #6c757d;
}

li.checked:before {
    content: '✔';
    color: #28a745;
    position: absolute;
    left: 15px;
    font-size: 1.2em;
}

.item-text {
    flex: 1;
    padding: 0 10px;
}

button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #c82333;
}
